{{- define "main" -}}

{{- partial "navbar.html" . -}}
{{- partial "navbar-clone.html" . -}}

<section class="section is-medium">
    <div class="container">
        {{/* <div class="columns"> */}}
            {{/* <div class="column is-centered-tablet-portrait"> */}}
                <h1 class="title section-title">{{- .Page.Title -}}</h1>
                <h5 class="subtitle is-5 is-muted">{{- .Params.Subtitle -}}</h5>
                <div class="divider"></div>
                <div class="section is-small">
                    <details class="publication_list">
                        <summary>
                            <h5 style="display:inline"> <b style="font-size: x-large;">Journal articles</b> <small
                                    id="journal_num">24</small> <small id="journal_document_num">documents</small></h5>
                        </summary>
                        <div id="journal_papers">
                        </div>
                    </details>

                    <details class="publication_list">
                        <summary>
                            <h5 style="display:inline;"> <b style="font-size: x-large;"> Conference papers</b> <small
                                    id="conference_num">24</small> <small id="conference_document_num">documents</small>
                            </h5>
                        </summary>
                        <div id="conference_papers">
                        </div>
                    </details>

                    <details class="publication_list">
                        <summary>
                            <h5 style="display:inline"> <b style="font-size: x-large;"> Preprints</b> <small
                                    id="preprint_num">24</small> <small id="preprint_document_num">documents</small>
                            </h5>
                        </summary>
                        <div id="preprint_papers">
                        </div>
                    </details>

                    <details class="publication_list">
                        <summary>
                            <h5 style="display:inline"> <b style="font-size: x-large;"> Thesis</b> <small
                                    id="thesis_num">24</small> <small id="thesis_document_num"> documents</small></h5>
                        </summary>
                        <div id="thesis_papers">
                        </div>
                    </details>

                    <details class="publication_list">
                        <summary>
                            <h5 style="display:inline"> <b style="font-size: x-large;">Reports</b> <small
                                    id="report_num">24</small> <small id="report_document_num">documents</small></h5>
                        </summary>
                        <div id="report_papers">
                        </div>
                    </details>

                    <details class="publication_list">
                        <summary>
                            <h5 style="display:inline"> <b style="font-size: x-large;"> Book chapters</b> <small
                                    id="book_num">24</small> <small id="book_document_num">documents</small></h5>
                        </summary>
                        <div id="book_papers">
                        </div>
                    </details>


                    <details class="publication_list">
                        <summary>
                            <h5 style="display:inline"><b style="font-size: x-large;"> Patents</b> <small
                                    id="patent_num">24</small> <small id="patent8document_num">documents</small></h5>
                        </summary>
                        <div id="patent_papers">
                        </div>
                    </details>
                </div>
                {{/*
            </div> */}}
            {{/* </div> */}}
    </div>
</section>

{{- partial "footer.html" . -}}

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

{{- partial "sidebar.html" . -}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

    // funciton using the hal api to update the placeholders in the site
    function load_data_from_hall(url, id_div, id_num, id_documents) {
        $.ajax({
            url: url,
            dataType: "application/json",
            complete: function (data) {
                data = JSON.parse(data.responseText);
                if (data.response.docs.length == 0) {
                    $('#' + id_div).parent().css("display", "none")
                } else {
                    $('#' + id_div).parent().css("display", "block")
                }
                papers = data.response.docs
                //console.log(papers)
                papers.sort(function (b, a) {
                    return a.publicationDateY_i - b.publicationDateY_i
                })
                year = 0
                $('#' + id_num).html(papers.length)
                console.log(papers.length)
                if (papers.length == 1) {
                    $('#' + id_documents).html("document")
                }


                first = true
                papers.forEach(function (paper) {
                    if (paper.publicationDateY_i != year) {
                        year = paper.publicationDateY_i
                        if (first == false) {
                            $('#' + id_div).html($('#' + id_div).html() + "<hr>")
                        }
                        first = false
                        $('#' + id_div).html($('#' + id_div).html() + "<h4 style='text-align:left;font-size: large'>" + year + "</h4>")
                    }
                    $('#' + id_div).html($('#' + id_div).html() +
                        '<p style="margin-top:10px;margin-bottom:10px"><b>' + paper.title_s[0] + '</b><br> ' +
                        ((paper.authFullName_s.length < 5) ? paper.authFullName_s.join(", ") : paper.authFullName_s.slice(0, 4).join(", ") + ' et al.')
                        + ' <em><br>' +
                        ((paper.journalTitle_s) ? paper.journalTitle_s : ((paper.conferenceTitle_s) ? paper.conferenceTitle_s : ''))
                        + '</em> <a target="_blank" href="' + paper.files_s + '">(' + paper.halId_s + ')</a></p>')
                })
            },
            success: function (data) {
            }
        })
    }
    {{ $hal_id := "lucas-joseph" }}
    querry = "authIdHal_s:" + '{{ $hal_id }}'

    // journal papers
    load_data_from_hall(
        'https://api.archives-ouvertes.fr/search/?q=' + querry + ' AND docType_s:ART AND (producedDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z] OR publicationDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]) AND submittedDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]&rows=999&fl=abstract_s,anrProjectReference_s,arxivId_s,audience_s,authAlphaLastNameFirstNameId_fs,authFirstName_s,authFullName_s,authIdHalFullName_fs,authLastName_s,authMiddleName_s,authorityInstitution_s,bookCollection_s,bookTitle_s,city_s,collCode_s,comment_s,conferenceEndDateD_i,conferenceEndDateM_i,conferenceEndDateY_i,conferenceStartDate_s,conferenceStartDateD_i,conferenceStartDateM_i,conferenceStartDateY_i,conferenceTitle_s,country_s,defenseDateY_i,description_s,director_s,docid,docType_s,doiId_s,europeanProjectCallId_s,files_s,halId_s,invitedCommunication_s,isbn_s,issue_s,journalIssn_s,journalTitle_s,label_bibtex,label_s,language_s,localReference_s,nntId_id,nntId_s,number_s,page_s,peerReviewing_s,popularLevel_s,proceedings_s,producedDateY_i,publicationDateY_i,publicationLocation_s,publisher_s,publisherLink_s,pubmedId_s,related_s,reportType_s,scientificEditor_s,seeAlso_s,serie_s,source_s,*_subTitle_s,subTitle_s,swhId_s,*_title_s,title_s,version_i,volume_s,authQuality_s,authIdHasPrimaryStructure_fs,inPress_bool,submitType_s,linkExtId_s,wosId_s,linkExtUrl_s,files_s&sort=auth_sort asc',
        'journal_papers',
        'journal_num',
        'journal_doc_num'
    )

    // conference papers
    load_data_from_hall(
        'https://api.archives-ouvertes.fr/search/?q=' + querry + ' AND docType_s:COMM AND ((proceedings_s:0 AND conferenceStartDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]) OR (proceedings_s:1 AND ((NOT publicationDate_tdate:* AND conferenceStartDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]) OR (publicationDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z])))) AND submittedDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]&rows=999&fl=abstract_s,anrProjectReference_s,arxivId_s,audience_s,authAlphaLastNameFirstNameId_fs,authFirstName_s,authFullName_s,authIdHalFullName_fs,authLastName_s,authMiddleName_s,authorityInstitution_s,bookCollection_s,bookTitle_s,city_s,collCode_s,comment_s,conferenceEndDateD_i,conferenceEndDateM_i,conferenceEndDateY_i,conferenceStartDate_s,conferenceStartDateD_i,conferenceStartDateM_i,conferenceStartDateY_i,conferenceTitle_s,country_s,defenseDateY_i,description_s,director_s,docid,docType_s,doiId_s,europeanProjectCallId_s,files_s,halId_s,invitedCommunication_s,isbn_s,issue_s,journalIssn_s,journalTitle_s,label_bibtex,label_s,language_s,localReference_s,nntId_id,nntId_s,number_s,page_s,peerReviewing_s,popularLevel_s,proceedings_s,producedDateY_i,publicationDateY_i,publicationLocation_s,publisher_s,publisherLink_s,pubmedId_s,related_s,reportType_s,scientificEditor_s,seeAlso_s,serie_s,source_s,*_subTitle_s,subTitle_s,swhId_s,*_title_s,title_s,version_i,volume_s,authQuality_s,authIdHasPrimaryStructure_fs,inPress_bool,submitType_s,linkExtId_s,wosId_s,linkExtUrl_s,files_s&sort=auth_sort asc',
        'conference_papers',
        'conference_num',
        'conference_doc_num'
    )

    // preprints
    load_data_from_hall(
        'https://api.archives-ouvertes.fr/search/?q=' + querry + ' AND docType_s:"UNDEFINED" AND (producedDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z] OR publicationDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]) AND submittedDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]&rows=999&fl=abstract_s,anrProjectReference_s,arxivId_s,audience_s,authAlphaLastNameFirstNameId_fs,authFirstName_s,authFullName_s,authIdHalFullName_fs,authLastName_s,authMiddleName_s,authorityInstitution_s,bookCollection_s,bookTitle_s,city_s,collCode_s,comment_s,conferenceEndDateD_i,conferenceEndDateM_i,conferenceEndDateY_i,conferenceStartDate_s,conferenceStartDateD_i,conferenceStartDateM_i,conferenceStartDateY_i,conferenceTitle_s,country_s,defenseDateY_i,description_s,director_s,docid,docType_s,doiId_s,europeanProjectCallId_s,files_s,halId_s,invitedCommunication_s,isbn_s,issue_s,journalIssn_s,journalTitle_s,label_bibtex,label_s,language_s,localReference_s,nntId_id,nntId_s,number_s,page_s,peerReviewing_s,popularLevel_s,proceedings_s,producedDateY_i,publicationDateY_i,publicationLocation_s,publisher_s,publisherLink_s,pubmedId_s,related_s,reportType_s,scientificEditor_s,seeAlso_s,serie_s,source_s,*_subTitle_s,subTitle_s,swhId_s,*_title_s,title_s,version_i,volume_s,authQuality_s,authIdHasPrimaryStructure_fs,inPress_bool,submitType_s,linkExtId_s,wosId_s,linkExtUrl_s,files_s&sort=auth_sort asc',
        'preprint_papers',
        'preprint_num',
        'preprint_document_num'
    )

    // Report
    load_data_from_hall(
        'https://api.archives-ouvertes.fr/search/?q=' + querry + ' AND docType_s:REPORT AND (producedDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z] OR publicationDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]) AND submittedDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]&rows=999&fl=abstract_s,anrProjectReference_s,arxivId_s,audience_s,authAlphaLastNameFirstNameId_fs,authFirstName_s,authFullName_s,authIdHalFullName_fs,authLastName_s,authMiddleName_s,authorityInstitution_s,bookCollection_s,bookTitle_s,city_s,collCode_s,comment_s,conferenceEndDateD_i,conferenceEndDateM_i,conferenceEndDateY_i,conferenceStartDate_s,conferenceStartDateD_i,conferenceStartDateM_i,conferenceStartDateY_i,conferenceTitle_s,country_s,defenseDateY_i,description_s,director_s,docid,docType_s,doiId_s,europeanProjectCallId_s,files_s,halId_s,invitedCommunication_s,isbn_s,issue_s,journalIssn_s,journalTitle_s,label_bibtex,label_s,language_s,localReference_s,nntId_id,nntId_s,number_s,page_s,peerReviewing_s,popularLevel_s,proceedings_s,producedDateY_i,publicationDateY_i,publicationLocation_s,publisher_s,publisherLink_s,pubmedId_s,related_s,reportType_s,scientificEditor_s,seeAlso_s,serie_s,source_s,*_subTitle_s,subTitle_s,swhId_s,*_title_s,title_s,version_i,volume_s,authQuality_s,authIdHasPrimaryStructure_fs,inPress_bool,submitType_s,linkExtId_s,wosId_s,linkExtUrl_s,files_s&sort=auth_sort asc',
        'report_papers',
        'report_num',
        'report_document_num'
    )

    // Thesis
    load_data_from_hall(
        'https://api.archives-ouvertes.fr/search/?q=' + querry + ' AND docType_s:THESE AND (producedDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z] OR publicationDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]) AND submittedDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]&rows=999&fl=abstract_s,anrProjectReference_s,arxivId_s,audience_s,authAlphaLastNameFirstNameId_fs,authFirstName_s,authFullName_s,authIdHalFullName_fs,authLastName_s,authMiddleName_s,authorityInstitution_s,bookCollection_s,bookTitle_s,city_s,collCode_s,comment_s,conferenceEndDateD_i,conferenceEndDateM_i,conferenceEndDateY_i,conferenceStartDate_s,conferenceStartDateD_i,conferenceStartDateM_i,conferenceStartDateY_i,conferenceTitle_s,country_s,defenseDateY_i,description_s,director_s,docid,docType_s,doiId_s,europeanProjectCallId_s,files_s,halId_s,invitedCommunication_s,isbn_s,issue_s,journalIssn_s,journalTitle_s,label_bibtex,label_s,language_s,localReference_s,nntId_id,nntId_s,number_s,page_s,peerReviewing_s,popularLevel_s,proceedings_s,producedDateY_i,publicationDateY_i,publicationLocation_s,publisher_s,publisherLink_s,pubmedId_s,related_s,reportType_s,scientificEditor_s,seeAlso_s,serie_s,source_s,*_subTitle_s,subTitle_s,swhId_s,*_title_s,title_s,version_i,volume_s,authQuality_s,authIdHasPrimaryStructure_fs,inPress_bool,submitType_s,linkExtId_s,wosId_s,linkExtUrl_s,files_s&sort=auth_sort asc',
        'thesis_papers',
        'thesis_num',
        'thesis_document_num'
    )

    // book sections
    load_data_from_hall(
        'https://api.archives-ouvertes.fr/search/?q=' + querry + '%20AND%20(docType_s:%22OUV%22%20OR%20docType_s:%22COUV%22%20OR%20docType_s:%22DOUV%22)%20AND%20NOT%20popularLevel_s:1%20AND%20audience_s:2%20AND%20(producedDate_tdate:[1900-01-01T00:00:00Z%20TO%20{{ now.Year }}-12-31T00:00:00Z]%20OR%20publicationDate_tdate:[1900-01-01T00:00:00Z%20TO%20{{ now.Year }}-12-31T00:00:00Z])%20AND%20submittedDate_tdate:[1900-01-01T00:00:00Z%20TO%20{{ now.Year }}-12-31T00:00:00Z]&rows=999&fl=abstract_s,anrProjectReference_s,arxivId_s,audience_s,authAlphaLastNameFirstNameId_fs,authFirstName_s,authFullName_s,authIdHalFullName_fs,authLastName_s,authMiddleName_s,authorityInstitution_s,bookCollection_s,bookTitle_s,city_s,collCode_s,comment_s,conferenceEndDateD_i,conferenceEndDateM_i,conferenceEndDateY_i,conferenceStartDate_s,conferenceStartDateD_i,conferenceStartDateM_i,conferenceStartDateY_i,conferenceTitle_s,country_s,defenseDateY_i,description_s,director_s,docid,docType_s,doiId_s,europeanProjectCallId_s,files_s,halId_s,invitedCommunication_s,isbn_s,issue_s,journalIssn_s,journalTitle_s,label_bibtex,label_s,language_s,localReference_s,nntId_id,nntId_s,number_s,page_s,peerReviewing_s,popularLevel_s,proceedings_s,producedDateY_i,publicationDateY_i,publicationLocation_s,publisher_s,publisherLink_s,pubmedId_s,related_s,reportType_s,scientificEditor_s,seeAlso_s,serie_s,source_s,*_subTitle_s,subTitle_s,swhId_s,*_title_s,title_s,version_i,volume_s,authQuality_s,authIdHasPrimaryStructure_fs,inPress_bool,submitType_s,linkExtId_s,wosId_s,linkExtUrl_s,files_s&sort=auth_sort%20asc',
        'book_papers',
        'book_num',
        'book_document_num'
    )

    // Patentn
    load_data_from_hall(
        'https://api.archives-ouvertes.fr/search/?q=' + querry + ' AND docType_s:PATENT AND (producedDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z] OR publicationDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]) AND submittedDate_tdate:[1900-01-01T00:00:00Z TO {{ now.Year }}-12-31T00:00:00Z]&rows=999&fl=abstract_s,anrProjectReference_s,arxivId_s,audience_s,authAlphaLastNameFirstNameId_fs,authFirstName_s,authFullName_s,authIdHalFullName_fs,authLastName_s,authMiddleName_s,authorityInstitution_s,bookCollection_s,bookTitle_s,city_s,collCode_s,comment_s,conferenceEndDateD_i,conferenceEndDateM_i,conferenceEndDateY_i,conferenceStartDate_s,conferenceStartDateD_i,conferenceStartDateM_i,conferenceStartDateY_i,conferenceTitle_s,country_s,defenseDateY_i,description_s,director_s,docid,docType_s,doiId_s,europeanProjectCallId_s,files_s,halId_s,invitedCommunication_s,isbn_s,issue_s,journalIssn_s,journalTitle_s,label_bibtex,label_s,language_s,localReference_s,nntId_id,nntId_s,number_s,page_s,peerReviewing_s,popularLevel_s,proceedings_s,producedDateY_i,publicationDateY_i,publicationLocation_s,publisher_s,publisherLink_s,pubmedId_s,related_s,reportType_s,scientificEditor_s,seeAlso_s,serie_s,source_s,*_subTitle_s,subTitle_s,swhId_s,*_title_s,title_s,version_i,volume_s,authQuality_s,authIdHasPrimaryStructure_fs,inPress_bool,submitType_s,linkExtId_s,wosId_s,linkExtUrl_s,files_s&sort=auth_sort asc',
        'patent_papers',
        'patent_num',
        'patent_document_num'
    )
</script>
{{- end -}}