{{- define "main" -}}

    {{- partial "navbar.html" . -}}
    {{- partial "navbar-clone.html" . -}}
    {{- partial "single/content.html" . -}}
    
    {{- partial "footer.html" . -}}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>
    {{ if or .Params.math .Site.Params.math }}
        {{ partial "math.html" . }}
    {{ end }}
    {{- partial "sidebar.html" . -}}

{{- end -}}
