{{- define "main" -}}

{{- partial "navbar.html" . -}}
{{- partial "navbar-clone.html" . -}}


{{ $total_duration := 0}}
{{ $date := " "}}

<section class="section is-medium">
    <div class="container">
      <h1 class="title section-title">{{- .Page.Title -}}</h1>
      <h5 class="subtitle is-5 is-muted">{{- .Params.Subtitle -}}</h5>
      <div class="divider"></div>
      <div class="section is-small">        
        {{/*  Fetch yaml file in data*/}}              
        {{ $teachings := $.Site.Data.teachings }}
        {{/*  Loop over every dates*/}}
        {{ range $teachings.dates }}
          {{/*  Store the date for div id differenciation*/}}
          {{ $date := .date }}
          {{/*  Create the details layer*/}}
          <details >
            <summary>
                <h5 style="display:inline"> <b style="font-size: x-large;">{{ .date }}</b> &nbsp; <small
                        id="hours_div{{.date}}">24</small> <small>hours</small></h5>
            </summary>

            {{ $total_duration := 0}}
            {{/*  Loop over every teaching for this date*/}}
            {{ range $index, $element := .teachings }}
              {{/*  Put a horizontal line between teachings for the same year*/}}
              {{ if gt $index 0 }}  
                <hr>
              {{ end }}
              {{/*  Put the information as desired*/}}
              <div>
              <p style="margin-top:10px;margin-bottom:10px;padding-left:20px">  <b> {{ .description }} </b>  &nbsp; {{ if gt .duration 0 }}
                                                                                                                      {{ .duration }} h
                                                                                                                    {{ end }} </br>
                                                                                <em>{{ .summary}}</em>  </br> 
                                                                                <span id="span_{{$date}}_{{.teaching}}">{{ .level}} </span>  </br>
                                                                                {{ .location }} </p>
              </div>
              {{/*  Sum up the total duration */}}
              {{ $total_duration = add $total_duration .duration }}
              {{/*  Format ème correctly*/}}
              <script>
                document.getElementById("span_{{$date}}_{{.teaching}}").innerHTML = document.getElementById("span_{{$date}}_{{.teaching}}").innerHTML.replace('ème', '<sup>ème</sup>');
              </script> 
            {{ end }}
            {{/* Update the total duration*/}}
            <script>
              document.getElementById("hours_div{{.date}}").innerHTML = {{ $total_duration }};
            </script> 
          </details>
        {{ end }}
      </div>
    </div>
</section>

{{- partial "footer.html" . -}}

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

{{- partial "sidebar.html" . -}}
{{- end -}}