
{{- $original := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Get "src")) -}}
{{- $width    := printf "%s" (.Get "width" ) -}}
{{- $height   := printf "%s" (.Get "height") -}}
{{- $size     := printf "%sx%s" $width $height -}}
{{- $caption  := printf "%s" (.Get "caption") -}}
{{- $alt      := printf "%s" (.Get "alt") -}}
{{- with $original -}}
{{- $image := .Resize $size -}}

<style>
.div_fig
{
    display: flex;
    justify-content: center;
}

.figure {
  display: table;
  padding-left: 0px;
}

.figure img {
  max-width: 100%;
}

.figcaption {
  display: table-caption;
  caption-side: bottom;
  background: rgb(255, 255, 255);
  padding: 10px;
}
     </style>
    
<div class="columns is-centered container">
    <div class="column is-full">
        <div class="div_fig">
            <figure class="figure">
                {{- if $caption -}}
                    <img class="rounded-corners" src="{{- $image.RelPermalink -}}" 
                        width="{{- $image.Width -}}" height="{{- $image.Height -}}" alt="{{- $alt -}}" >
                {{- else -}}
                    <img class="rounded-corners" src="{{- $image.RelPermalink -}}" 
                    width="{{- $image.Width -}}" height="{{- $image.Height -}}" >
                {{- end -}}
                {{- if $caption -}}
                    <figcaption class="figcaption">{{- $caption -}}</figcaption>
                {{- end -}}
            </figure>
        </div>
    </div>
</div>
{{- end -}}