{{- $id1 := .Get "id1" | default (.Get 0) -}}
{{- $id2 := .Get "id2" | default (.Get 1) -}}
{{- $id3 := .Get "id3" | default (.Get 2) -}}
{{- $caption1 := .Get "caption1" | default (.Get 0) -}}
{{- $caption2 := .Get "caption2" | default (.Get 1) -}}
{{- $caption3 := .Get "caption3" | default (.Get 2) -}}
{{- $auto1 := default "false" (.Get "autoplay1") -}}
{{- $auto2 := default "false" (.Get "autoplay2") -}}
{{- $auto3 := default "false" (.Get "autoplay3") -}}
{{- $ratio1 := default "16:9" (.Get "ratio1") -}}
{{- $ratio2 := default "16:9" (.Get "ratio2") -}}
{{- $ratio3 := default "16:9" (.Get "ratio3") -}}
{{ $r1 := "65.25" }}
{{ $r2 := "65.25" }}
{{ $r3 := "65.25" }}
{{ if eq $ratio1 "16:9" }}
    {{ $r1 = "65"}}
{{ else if eq $ratio1 "4:3" }}
    {{ $r1 = "75"}}
{{ end }}
{{ if eq $ratio2 "16:9" }}
    {{ $r2 = "65"}}
{{ else if eq $ratio2 "4:3" }}
    {{ $r2 = "75"}}
{{ end }}
{{ if eq $ratio3 "16:9" }}
    {{ $r3 = "65"}}
{{ else if eq $ratio3 "4:3" }}
    {{ $r3 = "75"}}
{{ end }}

<div class="columns is-centered container">    
    <div class="column is-centered container">
        <div>
            <div style="position:relative;padding-top:{{ print $r1 }}%;">
                <figure>
                        <iframe src="https://player.vimeo.com/video/{{ $id1 }}{{ with $auto1 }}{{ if or ( or (eq . "true") (eq . true)) (eq . 1) }}?autoplay=1&mute=1{{ end }}{{ end }}" 
                            allowfullscreen 
                            style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                        <figcaption>{{ $caption1 }}</figcaption>  
                </figure>
            </div>
        </div>
    </div>
    <div class="column is-centered container">
        <div>
            <div style="position:relative;padding-top:{{ print $r2 }}%;">
                <figure>
                    <iframe src="https://player.vimeo.com/video/{{ $id2 }}{{ with $auto2 }}{{ if or ( or (eq . "true") (eq . true)) (eq . 1) }}?autoplay=1&mute=1{{ end }}{{ end }}" 
                            allowfullscreen
                        style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                        <figcaption>{{ $caption2 }}</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="column is-centered container">
        <div>
            <div style="position:relative;padding-top:{{ print $r3 }}%;">
                <figure>
                    <iframe src="https://player.vimeo.com/video/{{ $id3 }}{{ with $auto3 }}{{ if or ( or (eq . "true") (eq . true)) (eq . 1) }}?autoplay=1&mute=1{{ end }}{{ end }}" 
                            allowfullscreen
                        style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                        <figcaption>{{ $caption3 }}</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

