<div class="container">
  <div class="columns">
    <div class="column is-centered-tablet-portrait">
      <h1 class="title is-2 section-title">{{- .Title -}}</h1>
      <h5 class="subtitle is-5 is-muted">{{- .Params.Subtitle -}}</h5>
      <div class="divider"></div>
      {{/*  <section class="section content">  */}}
      <section class="section content has-text-justified">
        <!-- <div class="content"> -->
          {{- .Content -}}
        <!-- </div> -->
      </section>
    </div>
  </div>
</div>  
